<div class="container-fluid">
  <div class="col-md-3">
    <%= link_to "Add Voter", new_voter_path, remote: true, class: "btn btn-add-voter hvr-rectangle-out" %>
    <div class="new-product"></div> <!-- ?????  -->
  </div>

  <div class="col-md-9 voter-index">
    <%= render partial: "index" %>
  </div>
</div>
<div id="voter-modal" class="modal fade"></div>
