
.btn-add-voter{
  background: transparent;
  border: 3px solid white;
  color: #fff;
  display: block;
  margin: 3em auto;
  font-size: 2em;
  letter-spacing: 1px;
  height: 5em;
  line-height: 5em;
  padding: 0;
  transition: color 1s, background 1s;
}
.btn-add-voter:hover{
  color: #00aced;
  background: #fff;
}

.btn-edit-voter, .btn-delete-voter {
  background: transparent;
  letter-spacing: .8px;
  transition: color 1s, background 1s;
}
.btn-edit-voter{
  color: white;
  border: 2px solid white;
}
.btn-edit-voter:hover{
  color: #00aced;
  background: #fff;
  border: 2px solid #fff;
}
.btn-delete-voter {
  border: 2px solid red;
}
.btn-delete-voter :hover{
  background: red;
}

.btn-yes-delete-modal, .btn-no-delete-modal{
  color: black;
  letter-spacing: .8px;
  background: transparent;
  transition: color 1s, background 1s;
}
.btn-yes-delete-modal{
  border: 2px solid red;
}
.btn-yes-delete-modal:hover{
  color: #fff;
}
.btn-no-delete-modal{
  border: 2px solid #00aced;
}
.btn-no-delete-modal:hover{
  color: #fff;
  background: #00aced;
  border: 2px solid #00aced;
}
