body{
  background: #00aced;
}
nav.navbar.navbar-default{
  background: #f2f2f2;
}
div.navbar-header a.navbar-brand{
  font-size: 2em;
  color: #00aced;
}
input{
  display: block;
  width: 100%;
}
.panel-default>.panel-heading{
  background-color: transparent;
  color: #f2f2f2;
}
.panel{
  background: #00aced;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.voter-delete-name{
  font-weight: 700;
}

/******   Media Queries    ********/

@media screen and (max-width: 990px) {
    .btn-add-voter {
        margin: 2em auto;
        display: block;
        width: 50%;
        height: 3em;
        line-height: 3em;
        font-size: 3em;
    }
}    
    @media screen and (max-width: 560px) {
        .btn-add-voter {
          width: 80%;
        }
}
